*.log
.vscode/
.idea/

*.env
.env.*

!frontend/sample.env
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vercel/
frontend/.cache/
frontend/.eslintcache

backend/src/main/resources/application.properties
!backend/src/main/resources/application.sample.properties
backend/.metadata
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/*.iml